<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Everyday Bachata</title>
</head>
<body>
<h1>Bo każdy dzień jest dobry, żeby potańczyć Bachatę!!!</h1>
<h2>Wybierz rodzaj wydarzenia i sprawdź co dzieje się w Twoim mieście!!!</h2>
<h2>Nie zapomnij dobrze się bawić!!!</h2>


<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Szukaj">
</form>
<ul>
{% for event in events %}
        <li>
            <a href = "{% url 'bachata_app:events-detail' event.id %}"> {{event}}</a>
        </li>
{%endfor%}
</ul>

</body>
</html>