<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Everyday Bachata</title>
</head>
<body>
<h1>Bo każdy dzień jest dobry, żeby potańczyć Bachatę!!!</h1>
<h2>Wybierz rodzaj wydarzenia i sprawdź co dzieje się w Twoim mieście!!!</h2>
<h2>Nie zapomnij dobrze się bawić!!!</h2>


<form action="{% url 'bachata_app:search-results' %}" method="get">
    {% csrf_token %}
    {{ form }}
    <input name="q" type="text" placeholder="Miasto" id ="city">
    <input name="q" type="text" placeholder="Rodzaj wydarzenia" id="type">
    <input type="submit" value="Szukaj">
</form>

</body>
</html>