<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły wydarzenia</title>
</head>
<body>
    <h2>{{events.event_name}}</h2>
    <h3>Rodzaj wydarzenia: {{events.type}}</h3>
    <h3>Gdzie:    {{events.city}} {{events.location}} </h3>
    <h3>Kiedy:    {{events.start_date}} </h3>
    <h3>Kto prowadzi: {{events.trainer}}</h3>
    <h3>Kto organizuje: {{events.organizer}}</h3>
    <h3>Cena: {{events.price}}</h3>
    <h3>Szczegóły: {{events.description}}</h3>
    <h3>link:{{events.link}}</h3>

</body>
</html>